#bodyCreateUser {
    background-image: url(/images/juan-gatti-ciencias-naturales-9-800x1145.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}